@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main::after {
    content: "";
    width: 100%;
    height: 175px;
    background-color: #F8CBAC;
    position: absolute;
    bottom: 250px;
}

section {
    height: 90%;
    width: 90%;
    background-color: #ffffff;
    z-index: 1;
    border: 2px solid #f8cbac;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px 0px 150px;
    
}

span {
    font-size: 2.0rem;
    color: #505051;
    display: flex;

}

.link {
    list-style: none;
    display: flex;
    gap: 17px;
}

li a {
    text-decoration: none;
    color: #8c8c8c;
    font-size: 1.5rem;
    padding: 10PX;
}

.container {
    display: flex;
    padding-left: 150px;
    padding-right: 100px;
    justify-content: space-between;
}

article {
    align-self: center;
}

article h1 {
    font-size: 4.0rem;
    color: #282828;
    font-weight: bolder;
}

article p {
    color: #838383;
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 600px;
    font-size: 1.3rem;
}

button {
    border: 2px solid #343435;
    background-color: #343435;
    color: #ffffff;
    padding: 7px 40px;
    font-size: 1.3rem;
    cursor: pointer;
}

aside {
    margin-top: 150px; 
    position: relative;
}

.container aside::before {
    content: "";
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-color: #eeeeee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

aside img {
    width: 650px;
    transform: rotate(-31deg);
}

@media (max-width: 1500px) {
    section {
        width: 100%;
        height: 100%;
        border: none;
    }

    .container {
        padding: 0px 100px;
    }

    header {
        padding: 40px 100px 0 100px;
    }
}

@media (max-width: 1250px) {
    article h1 {
        font-size: 3.3rem;
    }

    article p {
        font-size: 1.2rem;
    }

    header {
        display: flex;
        align-items: center;
    }

    button {
        font-size: 1.2rem;
    } 

    li a {
       font-size: 1.3rem;
    }

    span {
        font-size: 1.5rem;
    }

    aside img {
        width: 600px;
    }

    .container aside::before {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 1150px) {
    .container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        padding: 0;
    }  

    aside img {
        width: 700px;
    }

    .container aside::before {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 822px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
    }

    span {
        padding-bottom: 20px;
        margin-top: 10px;
    }

    .container {
        margin-top: 100px
    }

    aside img {
        width: 550px;
    }

    .container aside::before {
        width: 450px;
        height: 450px;
    }

    section {
        padding: 0px 20px;
    }
}

@media (max-width: 564px) {
     aside img {
        width: 400px;
    }
    .container aside::before {
        width: 350px;
        height: 350px;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        margin-top: 50px;
    }

    .container article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}

@media (max-width: 500px) {
    aside img {
        width: 350px;
    }

    .container aside::before {
        width: 300px;
        height: 300px;
    }

    aside {
        margin-top: 100px
    }
}

@media (max-width: 423px) {
    aside img {
        width: 270px;
    }

    .container aside::before {
        width: 220px;
        height: 220px;
    }

    aside {
        margin-top: 100px
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
